* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

.navbar {
  background-color: purple;
  display: flex;
  padding: 10px;
  padding-left: 100px;
  padding-right: 100px;
  justify-content: space-between;
  color: white;
  align-items: center;
}

.main {
  width: 90%;
  margin: auto;
}

.box {
  box-shadow: 1px 1px 3px 4px greenyellow;
  margin-top: 20px;
}

ul.books-list {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.book {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}
.bo {
    margin: 30px;
}

.book img {
  width: 50px;
}

.book h3 {
  margin: 0px;
  font-size: 18px;
}

.d-flex {
  display: flex;
  gap: 40px;
}
.main > div {
  flex:1;
}

.books-summary h3 {
  margin: 10px;
  text-align: center;
  background-color:goldenrod;
  padding: 10px;
  
}

.space {
  gap: 10px;
  padding-left: 10px;
  margin: 10px;
}

.plus{
  text-align: end;
  font-weight:bold;
  font-size: 20px;
  background-color: transparent;
  border: none;
}

.btn{
  display: flex;
  gap: 12px;
}